/* 行弹性 */
.flex_row {
 display: flex;
 flex-direction: row; 
}

.flex_row_center {
 display: flex;
 flex-direction: row; 
 justify-content: center;
 align-items: center; 
}
/*列弹性*/
.flex_colum {
 display: flex;
 flex-direction: column; 
}
.flex_colum_center {
 display: flex;
 flex-direction: column; 
 justify-content: center;
 align-items: center; 
}